{% extends "base.html" %} {% load static %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock stylesheet %} {% block content %}
<nav class="navbar navbar-expand-md sticky-top" style="background: #FFF;">

        <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="">
            </a>
    <ul class="nav navbar-nav">
        
        <li class="dropdown nav-item heading-nav">

            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                MEN
            </a>
            <ul class="dropdown-menu multi-column columns-3">
                <div class="row">
                    {% for cat in categories_M %}
                    <div class="col">
                        <h4 style="color:#f2c210;">{{cat.category_name}}</h4>
                        <ul class="multi-column-dropdown">
                            {% for subCat in cat.categories.all %}
                            <li>
                                <a href="{% url 'product_list_c' cat.gender subCat.sub_category_name %}">{{subCat.sub_category_name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </ul>
        </li>
        <!-- Women menu -->
        <li class="dropdown nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                WOMEN
            </a>
            <ul class="dropdown-menu multi-column columns-3">
                <div class="row">
                    {% for cat in categories_F %}
                    <div class="col">
                        <h4 style="color:#f2c210;">{{cat.category_name}}</h4>
                        <ul class="multi-column-dropdown">
                            {% for subCat in cat.categories.all %}
                            <li>
                                <a href="{% url 'product_list_c' cat.gender subCat.sub_category_name %}">{{subCat.sub_category_name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">CONTACTS US</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">ABOUT</a>
        </li>
    </ul>
    <!-- serach menu-->
    <div class="col-md-4" style="margin-left:8em;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search" style="font-size:20px"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->

    <div class="accounts" style="display: inline;">
        <li class="nav-link dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if user.is_authenticated %}
                    {{user.phoner_number}}
                    {% else %}
                    <i class="fa fa-user-o" style="font-size:24px"></i>
                    {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                {% if user.is_authenticated %}
                <a class="dropdown-item" href="#">My accounts</a>
                <a class="dropdown-item" href="#">Change password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-secondary dropdown-item">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-primary ml-2 dropdown-item">Sign up</a>
                {% endif %}
            </div>
        </li>
        
    </div>
    <div class="cart" style="position: relative;">
        <a class="go-cart" href="{% url 'cart_view' %}">
            <i class="fa fa-shopping-cart" style="font-size: 24px; color:black;"></i>
        </a>
        {% if cart|length > 0 %}
        <div style="width:18px;height:18px;border-radius: 100%;background: rgb(253, 169, 83);top: -13px;left: 15px;position:absolute; text-align:center;line-height: 1">
                {{cart|length}}
            </div>
        {% endif %}
    </div>
    

</nav>
{% block listElement %} {% endblock listElement %} 
<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        <small class="d-block mb-3 text-muted">© 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Online Shopping</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Men</a></li>
          <li><a class="text-muted" href="#">Women</a></li>
    
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Useful links</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Contact Us</a></li>
          <li><a class="text-muted" href="#">Terms of use</a></li>
         
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
          <li><a class="text-muted" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
{% endblock content %}